*
  box-sizing border-box

body, html
  height 100%

body
  margin 0

.scroller
  border 1px solid black
  overflow hidden
  position relative
  width 100%
  height 50%

  .scrollbar
    bottom 0
    position absolute
    right 0
    top 0
    width 10px
    z-index 20

  .scrollbar-track
    left 2px
    position absolute
    right 2px

    &:before
      background black
      border-radius 3px
      bottom 2px
      content ''
      display block
      left 0
      position absolute
      right 0
      top 2px

  .scroll-content-container
    bottom 0
    left 0
    overflow hidden
    overflow-y scroll
    position absolute
    right 0
    top 0

    &::-webkit-scrollbar
      height 0
      width 0

